html {
	box-sizing: border-box;
}

* {
	font-family: 'Playfair Display', serif;
}

@font-face{
	font-family: Ubuntu-Regular;
	src: url(Ubuntu-Regular.ttf);
}

.category-link, .comment-link {
	font-family: Ubuntu-Regular ;
}

.logo {
	font-family: 'Inconsolata', monospace;
}