.element {
	border: 3px dashed #0000ff;
	margin: 3px;
	width: 100px;
}

.container {
	border: 3px dashed #ff0000;
	display: flex;
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*расположение блоков*/
	width: 400px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.third {
	/*margin-left: auto;*/
}